.container {
  display: flex;
  justify-content: center;
}

.semaforo {
  width: 100px;
  height: 280px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.semaforo .red-light {
  width: 80px;
  height: 80px;
  background-color: #c70707;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
}

.semaforo .yellow-light {
  width: 80px;
  height: 80px;
  background-color: #dfdf02;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
}

.semaforo .green-light {
  width: 80px;
  height: 80px;
  background-color: #00ff00;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
}

.semaforo .red-light-active {
  width: 80px;
  height: 80px;
  background-color: #ff0000;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px 9px #ff0000cc;
  box-shadow: 0 0 20px 9px #ff0000cc;
}

.semaforo .yellow-light-active {
  width: 80px;
  height: 80px;
  background-color: #ffff00;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px 9px #ffff00cc;
  box-shadow: 0 0 20px 9px #ffff00cc;
}

.semaforo .green-light-active {
  width: 80px;
  height: 80px;
  background-color: #00ff00;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px 9px #00ff00cc;
  box-shadow: 0 0 20px 9px #00ff00cc;
}